body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}

.container{
    display: flex;
    width: 100vw;
    height: 130px;
    background-color: black;
}

.logo{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.logo a img{
    width: 150px;
    height: 80px;
}

