html{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    height: 130px;
    justify-content: center;

}


.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
}

.menu{
    display: flex;
    flex: 1;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: white;
    border-radius: 5px;
}

#banner{
    display: flex;
    justify-content: center;
    background-image:url(../images/img1.jpg);
    background-position: end;
    background-size:cover;
    height: 500px;
}

.column{
    flex-direction: column;
}
.banner_headlines{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headlines h1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.banner_headlines h2{
    color: white;
    font-size: 19px;
    margin: 0;
}

.banner_options{
    flex: 1;
}